/** footer **/
.footer {
    display: grid;
    grid-template-columns: 15fr 1fr;
}

.footerSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #0E0E0E;
}

.footerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 100px;
}

.line {
    margin-top: 20px;
    width: 73%;
    opacity: 40%;
}

.line p::after {
    content: "";
    height: 0.5px;
    width: 90%;
    background-color: white;
    position: absolute;
    right: 0%;
    bottom: 0%;
}

.footerNav {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.footerBottom {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 100px;
    width: 100%;
}

.businessInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    margin-left: 85px;
}

.icons {
    display: flex;
    justify-content: space-around;
    width: 150px;
}

.copyright {
    display: flex;
    flex-direction: row;
}

/* footer text */
.footerNav a {
    text-decoration: none;
    font-family: "teko";
    font-size: 18px;
    color: #FFF;
}

.businessInfo a {
    text-decoration: none;
    color: #FFF;
    font-weight: 200;
    font-size: 12px;
}

.footerBottom a {
    text-decoration: none;
    color: #FFF;
    font-weight: 200;
}

.copyright a {
    margin-left: 5px;
}

/** top **/ 
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top a {
    text-decoration: none;
    font-size: 22px;
    color: #1A18F7;
}

html {
    scroll-behavior: smooth;
}

  /** media **/

  @media (max-width: 1501px) {
    .line {
        width: 78%;
    }  
  }

  @media (max-width: 1045px) {
    .top {
       display: none;
    }

    .footer {
        grid-template-columns: 1fr;
    }

    .deptLogo {
        display: none;
    }

    .hiddenDiv {
        display: none;
    }

    @media (max-width: 805px) {
        .footerTop {
            justify-content: space-between;
            align-items: flex-start;
        }
    
        .footerNav {
            flex-direction: column;
            width: 100px;
            height: 300px;
            margin-left: 30px;
        }

        .line {
            width: 95%;
        }  
    
        .footerNav a{
            font-size: 35px;
            font-weight: 300;
        }
    
        .icons {
            display: flex;
            flex-direction: column;
            width: 100px;
            height: 150px;
            align-items: flex-end;
            margin-right: 30px;
        }
    
        .footerBottom {
            flex-direction: column;
            align-items: flex-start;
        }
    
        .businessInfo {
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            height: 60px;
            width: 220px;
            margin-left: 30px;
        }
    
        .copyright {
            margin-top: 40px;
            margin-left: 30px;
        }
    }
    
}

