/** header **/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgImage {
    width: 100%;
    height: 90vh;
    padding: 20px;
}

/** filter**/

.filterSection {
    border: 1px solid green;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.txtFilter {
    margin-right: 40px;
    font-size: 40px;
}

/** Work**/

.workSection {
    display: flex;
    justify-content: center;
}

.workContainer {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    max-width: 585px;
    border: 1px solid red
}

.workImg {
    width: 585px;
}

/** Work - Text styles**/

.nameTxt {
    color: #939393;
    font-size: 15px;
}

.titleTxt {
    font-size: 30px;
    font-weight: 500;
}

.linkTxt {
    color: #1A18F7;
    font-weight: 600;
}

.link {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: -10px;
}

/* media  */

@media (max-width: 1210px) {
    .workContainer {
        gap: 25px;
    }

    .card {
        max-width: 485px;
        
    }

    .workImg {
        width: 485px;
    }
}

@media (max-width: 1010px) {
    .card {
        max-width: 305px;
        
    }

    .workImg {
        width: 305px;
    }
}

@media (max-width: 1010px) {
    .bgImage {
        padding: 0px;
    }
    .workContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        max-width: 455px;
        
    }

    .workImg {
        width: 450px;
    }
}

@media (max-width: 550px) {
    .card {
        max-width: 335px;
        
    }

    .workImg {
        width: 335px;
    }
}