/** header **/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.bgImage {
    width: 100%;
    height: 95vh;
    padding: 20px;
    object-fit: cover;
    object-position: top;
}

.headerTextContainer {
    padding: 20px;
    /* border: 1px solid red; */
    width: 90%;
    position: absolute;
    top: 0%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.headerLogo {
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    margin-bottom: 40px;
}

.headerTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 400px;
    height: 400px;
    width: 500px;
    margin-left: 50px;
}

.headerBtn {
    display: flex;
    justify-content: flex-end;
}

.headerBtn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 50px;
    color: #F3F6F6;
    text-decoration: none;
    font-family: "teko";
    font-size: 20px;
    font-weight: 400;
    background-color: #0E0E0E;
    margin-right: 50px;
    margin-bottom: 30px;
}
/** filter**/

.filterSection {
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.filterSection p {
    color: #939393;
}

.txtFilter {
    margin-right: 40px;
    font-size: 40px;
}

.filter {
    margin-left: -30px;
    margin-right: 20px;
}

.filter select {
    border: transparent;
    text-decoration: underline;
    font-family: "teko";
    font-weight: 500;
    font-size: 40px;
}

.headerBtnSecond {
    display: none;
}

/** Work**/

.workSection {
    display: flex;
    justify-content: center;
}

.workContainer {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    max-width: 585px;
}

.workImg {
    width: 585px;
}

/** Work - Text styles**/

.nameTxt {
    color: #939393;
    font-size: 15px;
}

.titleTxt {
    font-size: 30px;
    font-weight: 500;
}

.linkTxt {
    color: #1A18F7;
    font-weight: 600;
}

.link {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: -10px;
}

/** Client section **/
.clientSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F3F6F6;
    margin-top: 80px;
}

.clientContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 70px;
    column-gap: 40px;
    margin-top: 100px;
    padding-bottom: 150px;
}

/* Client section text */
.clientTitle {
    font-size: 60px;
    font-weight: 400;
}

.clientTxt {
    font-size: 17px;
    width: 581px;
    height: 81px;
    text-align: center;
    margin-top: -40px;
}

/* media  */

@media (max-width: 1230px) {
    .workContainer {
        gap: 20px;
    }

    .card {
        max-width: 455px;
        
    }

    .workImg {
        width: 455px;
    }
}

@media (max-width: 1030px) {
    .card {
        max-width: 305px;
        
    }

    .workImg {
        width: 305px;
    }
}

@media (max-width: 1010px) {
    .bgImage {
        padding: 0px;
    }
    .workContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        max-width: 455px;
        
    }

    .workImg {
        width: 450px;
    }

}
@media (max-width: 900px) {
    .clientContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px) {
    .clientContainer {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
        column-gap: 20px;
        padding-bottom: 100px;
    }

    .clientTxt {
        width: 351px;
        height: 51px;
        margin-top: -40px;
    }

    .headerTxt {
        font-size: 250px;
        margin-left: 20px;
    }
    
}

@media (max-width: 550px) {
    .card {
        max-width: 335px;
        
    }

    .workImg {
        width: 335px;
    }

    .clientContainer {
        row-gap: 40px;
        column-gap: 80px;
    }

    .clientImage {
        width: 100px;
    }

    .headerLogo {
        margin-left: 20px
    }

    .headerTxt {
        font-size: 180px;
        margin-left: 60px;
        height: 400px;
        width: 300px;
    }
}

@media (max-width: 400px) {
    .clientTxt {
        width: 251px;
        height: 31px;
     
    }

    .headerTxt {
        font-size: 180px;
        margin-left: 20px;
        height: 400px;
        width: 300px;
    }

    .headerBtn {
        display: none;
    }

    .filterSection {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filter {
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        width: 350px;
        margin: 0px;
    }

    .headerBtnSecond {
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .headerBtnSecond a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 320px;
        height: 50px;
        color: #F3F6F6;
        text-decoration: none;
        font-family: "teko";
        font-size: 20px;
        font-weight: 400;
        background-color: #0E0E0E;
        margin-bottom: 30px;
    }
}


@media (max-width: 335px) {
    .bgImage {
        height: 40vh;
    }

    .card {
        max-width: 235px;
        
    }

    .workImg {
        width: 235px;
    }

    .clientContainer {
        row-gap: 40px;
        column-gap: 40px;
    }

    .headerTextContainer {
        height: 40vh;
    }

    .headerTxt {
        font-size: 100px;
        margin-left: 20px;
        height: 100px;
        width: 200px;
    }

    .filter {
        width: 250px;
    }

    .headerBtnSecond a {
        width: 250px;
    }

   
}
