/** header **/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgImage {
    width: 100%;
    height: 90vh;
    padding: 20px;
}

/** filter**/

.filterSection {
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.txtFilter {
    margin-right: 40px;
    font-size: 40px;
}

/** Work**/

.workSection {
    display: flex;
    justify-content: center;
}

.workContainer {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    max-width: 585px;
}

.workImg {
    width: 585px;
}

/** Work - Text styles**/

.nameTxt {
    color: #939393;
    font-size: 15px;
}

.titleTxt {
    font-size: 30px;
    font-weight: 500;
}

.linkTxt {
    color: #1A18F7;
    font-weight: 600;
}

.link {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: -10px;
}

/** Client section **/
.clientSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F3F6F6;
    margin-top: 80px;
}

.clientContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 70px;
    column-gap: 40px;
    margin-top: 100px;
    padding-bottom: 150px;
}

/* Client section text */
.clientTitle {
    font-size: 60px;
    font-weight: 400;
}

.clientTxt {
    font-size: 17px;
    width: 581px;
    height: 81px;
    text-align: center;
    margin-top: -40px;
}


/* media  */

@media (max-width: 1230px) {
    .workContainer {
        gap: 20px;
    }

    .card {
        max-width: 455px;
        
    }

    .workImg {
        width: 455px;
    }
}

@media (max-width: 1030px) {
    .card {
        max-width: 305px;
        
    }

    .workImg {
        width: 305px;
    }
}

@media (max-width: 1010px) {
    .bgImage {
        padding: 0px;
    }
    .workContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        max-width: 455px;
        
    }

    .workImg {
        width: 450px;
    }

}
@media (max-width: 900px) {
    .clientContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px) {
    .clientContainer {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
        column-gap: 20px;
        padding-bottom: 100px;
    }

    .clientTxt {
        width: 351px;
        height: 51px;
        margin-top: -40px;
    }
    
}

@media (max-width: 550px) {
    .card {
        max-width: 335px;
        
    }

    .workImg {
        width: 335px;
    }

    .clientContainer {
        row-gap: 40px;
        column-gap: 80px;
    }

    .clientImage {
        width: 100px;
    }
}

@media (max-width: 400px) {
    .clientTxt {
        width: 251px;
        height: 31px;
    }
}


@media (max-width: 335px) {
    .bgImage {
        height: 40vh;
    }

    .card {
        max-width: 235px;
        
    }

    .workImg {
        width: 235px;
    }

    .clientContainer {
        row-gap: 40px;
        column-gap: 40px;
    }
}
